@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

/* Fonts - User Picks */
/* "Delius Unicase", cursive */
/* "Permanent Marker", cursive */
/* "Phudu", sans-serif */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */
.did {

}
.didDLetter {
  font-size: 100px;
  font-weight: 200;
  color: plum;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Phudu", sans-serif;
  background-color: yellow;
}

.didILetter {
  font-size: 70px;
  font-weight: 300;
  color: cyan;
  text-decoration: dotted;
  text-transform: lowercase;
  font-family: "Permanent Marker", cursive;
  background-color:  #cf001c;
}

.didDTwoLetter {
  font-size: 30px;
  font-weight: 300;
  color: greenyellow;
  text-decoration: dotted;
  text-transform: lowercase;
  font-family: "Delius Unicase", cursive;
  background-color: purple;
}

/* THE word */

.theTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.theHLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.theELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* FRONT-END word */

.frontendFLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendNLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendNTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

.frontendDLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerVLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerETwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerLLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerPLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerEThreeLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.developerRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* TAKE word */

.takeTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.takeALetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.takeKLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.takeELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* UP word */

.upULetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.upPLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningALetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningDLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningNLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningILetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningNTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.gardeningGTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* BECAUSE word */

.becauseBLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseCLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseALetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseULetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseSLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.becauseETwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* THEY word */

.theyTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theyHLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theyELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theyYLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* WANTED word */

.wantedWLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.wantedALetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.wantedNLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.wantedTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.wantedELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.wantedDLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* TO word */

.toTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.toOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* IMPROVE word */

.improveILetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improveMLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improvePLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improveRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improveOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improveVLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.improveELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* THEIR word */

.theirTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theirHLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theirELetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theirILetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.theirRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* ROOT word */

.rootRLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.rootOLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.rootOTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.rootTLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* SKILLS word */

.skillsSLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.skillsKLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.skillsILetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.skillsLLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.skillsLTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.skillsSTwoLetter {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}

/* SYMBOLS */

.hyphen {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.exclamation-mark {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
.question-mark {
  font-size: ;
  font-weight: ;
  color: ;
  text-decoration: ;
  text-transform: ;
  font-family: ;
  background-color: ;
}
